/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: Arial, sans-serif;
    color:white;
    min-height: 100vh;

    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Dark Overly */
body::before{
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
}

