/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: Arial, sans-serif;
    color:white;
    min-height: 100vh;

    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Dark Overly */
body::before{
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0,0,0,0.6);
}

.navbar h1{
    color: orange;
    font-size: 30px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

